*.o
*.d
*.a
Tests/test_amatrix
Tests/test_eigen
Tests/test_hmatrix
Tests/test_h2matrix
Tests/test_kernelmatrix
Tests/test_krylov
Tests/test_krylovsolvers
Tests/test_laplacebem2d
Tests/test_laplacebem3d
Tests/test_laplacebem3d_ocl
Tests/test_helmholtzbem3d
Tests/test_helmholtzbem3d_ocl
Tests/test_h2compression
Tests/test_tet3dp1
Tests/test_tri2dp1
Tests/test_ddcluster
Tests/test_tri2drt0
Tests/test_tet3drt0
Examples/example_dh2matrix
Examples/example_visualize
Examples/example_amatrix_bem3d
Examples/example_hmatrix_bem3d
Examples/example_h2matrix_bem3d
Examples/example_fem_p1_harith
Examples/example_fem_rt0_harith
